body { 
    background-image: url("../images/Minecraft-bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    color: #ffffff;
    font-family: 'Londrina Solid', cursive;
    padding: 0 2% 0 2%;
}

.jumbotron {
    font-size: 36px;
    color: black;
}

.crystals {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 2%;
}

.crystal {
    margin-top: 4%;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: #ffffff;
}

img {
    width: 100px;
    height: 100px;
}

.rules {
    background-color: burlywood;
    width: 50%;
    padding-bottom: 5%;
    color: black;
}

.random-num {
    float: left;
    width: 25%;
    padding: 3.5% 0 3.5% 1%;
    background-color: green;
    color: black;
    font-size: 48px;
    margin-top: 2%;
    text-align: center;
}

.standings {
    float: left;
    width: 10%;
    background-color: aqua;
    color: black;
    font-size: 24px;
    margin-top: 2%;
    margin-left: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.scores {
    background-color: brown;
    width: 25%;
    margin-bottom: 1%;
    font-size: 24px;
    padding: 1% 1%;
}

@media all and (max-width: 1098px) {
.crystals {
    width: 50%;
    margin-bottom: 2%;
} 

.standings {
    width: 20%;
}

@media all and (max-width: 872px) {
.crystals {
    width: 70%;
    margin-bottom: 2%;
} 
}